.app {
  text-align: center;
  margin: 100px 20% 0px;
  padding: 20px;
  background-color: pink;
  border: 5px double;
  outline: 5px double;
  border-radius: 15px;
}

.app button{
  padding: 10px;
  margin: 0px 10px;
  border-radius: 10px;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.7s ease-in-out;
}

.app button:hover{
  box-shadow: 5px 5px 0px 1px red;
}

footer{
  background-color: black;
  color: white;
  padding: 10px 10px;
  /* background-image: linear-gradient(200deg,purple,cyan,olive); */
}

#footheart{
  color: red;
  /* font-size: 24px; */
  padding: 5px;
  animation: myheart 1.5s infinite ease-in-out;
  display: inline-block;
}

@keyframes myheart {
  0%{
    transform: scale(1,1);
    /* color: blue; */
  }
  50%{
    transform: scale(2,2);
   
  }
}

table{
  min-width: 80%;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}